:root {
  --primary-color: #333;
  --background-color: #fff;
  --text-color: #333;
}

html {
  font-size: 16px;
}

body {
  font-family:
    "Bitter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

header,
footer,
.wrap {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  header,
  footer,
  .wrap {
    padding: 0 25px;
  }
}

@media screen and (min-width: 960px) {
  header,
  footer,
  .wrap {
    max-width: 860px;
    padding: 0 25px;
  }
}

header {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

header .logo h1 {
  font-weight: 500;
  font-family: "Montserrat", serif;
}

header .logo h1 a {
  color: #333;
  text-decoration: none;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  min-height: 30px;
}

.nav-links ul li a {
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .nav-links ul {
    flex-direction: row;
  }

  .nav-links ul li a {
    padding-left: 10px;
  }
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e7e7e7;
  margin: 1em 0 1.69em 0;
  padding: 0;
}

.footer-links {
  text-align: center;
  font-size: 14px;
  padding: 0 0 10px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding: 0 0 10px;
}
